/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/style/style.scss ***!
  \***************************************************************************************************************/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding and reset fonts */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
li {
  list-style: none;
}

:root {
  --blue-light: hsl(210, 47%, 74%);
  --blue-dark: #2e577f;
  --green-light: hsl(123, 47%, 74%);
  --green-dark: #2e7f32;
  --purple-light: hsl(231, 44%, 76%);
  --purple-dark: #334084;
  --red-light: hsl(0, 59%, 76%);
  --red-dark: #922626;
  --brown-light: hsl(20, 41%, 69%);
  --brown-dark: #68402c;
  --yellow-light: hsl(54, 76%, 79%);
  --yellow-dark: #afa018;
  --pink-light: hsl(295, 42%, 72%);
  --pink-dark: #6e2f74;
  --orange-light: hsl(34, 93%, 77%);
  --orange-dark: #b66a07;
}

body {
  display: grid;
  place-items: center;
  overflow: hidden;
  font-size: 0.75rem;
}

.orbit .center-image {
  position: relative;
}
.orbit .center-image img {
  object-fit: cover;
  position: absolute;
  width: 6rem;
  aspect-ratio: 1;
  z-index: 5;
  transition: opacity 350ms;
}
.orbit .center-image img:last-child:hover {
  opacity: 0;
}
.orbit ul {
  position: relative;
  height: 6rem;
  width: 6rem;
  display: grid;
  place-items: center;
  transform-origin: center;
  animation: orbit 60s linear infinite;
}
.orbit ul:hover {
  animation-play-state: paused;
  --play-state-orbit: paused;
}
.orbit li {
  --bg-color-1: pink;
  --bg-color-2: lime;
  position: absolute;
  width: 4rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  text-align: center;
  line-height: 1;
  font-weight: 500;
  color: white;
  display: grid;
  place-items: center;
}
.orbit li img {
  max-width: 40%;
  aspect-ratio: 1;
}
.orbit li:nth-child(1) {
  --throb-delay: 0ms;
}
.orbit li:nth-child(2) {
  --throb-delay: 500ms;
}
.orbit li:nth-child(3) {
  --throb-delay: 1000ms;
}
.orbit li:nth-child(4) {
  --throb-delay: 1500ms;
}
.orbit li:nth-child(5) {
  --throb-delay: 2000ms;
}
.orbit li:nth-child(6) {
  --throb-delay: 2500ms;
}
.orbit li:nth-child(7) {
  --throb-delay: 3000ms;
}
.orbit li:nth-child(8) {
  --throb-delay: 3500ms;
}
.orbit li:hover {
  --play-state-throb: paused;
}
.orbit li > * {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  border-radius: inherit;
  background-color: var(--bg-color-1);
  animation: orbit 60s linear infinite reverse var(--play-state-orbit, running), throb 1s var(--throb-delay) ease-in-out infinite alternate var(--play-state-throb, running);
}
.orbit li p {
  background-color: var(--bg-color-2);
  opacity: 0;
  transition: opacity 350ms;
}
.orbit li:hover > p {
  opacity: 1;
}
.orbit li:nth-child(1) {
  transform: translate(5.3033008589rem, 5.3033008589rem);
}
.orbit li:nth-child(2) {
  transform: translate(0rem, 7.5rem);
}
.orbit li:nth-child(3) {
  transform: translate(-5.3033008589rem, 5.3033008589rem);
}
.orbit li:nth-child(4) {
  transform: translate(-7.5rem, 0rem);
}
.orbit li:nth-child(5) {
  transform: translate(-5.3033008589rem, -5.3033008589rem);
}
.orbit li:nth-child(6) {
  transform: translate(0rem, -7.5rem);
}
.orbit li:nth-child(7) {
  transform: translate(5.3033008589rem, -5.3033008589rem);
}
.orbit li:nth-child(8) {
  transform: translate(7.5rem, 0rem);
}
.orbit li:nth-child(1) {
  --bg-color-1: var(--blue-light);
  --bg-color-2: var(--blue-dark);
}
.orbit li:nth-child(2) {
  --bg-color-1: var(--green-light);
  --bg-color-2: var(--green-dark);
}
.orbit li:nth-child(3) {
  --bg-color-1: var(--purple-light);
  --bg-color-2: var(--purple-dark);
}
.orbit li:nth-child(4) {
  --bg-color-1: var(--red-light);
  --bg-color-2: var(--red-dark);
}
.orbit li:nth-child(5) {
  --bg-color-1: var(--brown-light);
  --bg-color-2: var(--brown-dark);
}
.orbit li:nth-child(6) {
  --bg-color-1: var(--yellow-light);
  --bg-color-2: var(--yellow-dark);
}
.orbit li:nth-child(7) {
  --bg-color-1: var(--pink-light);
  --bg-color-2: var(--pink-dark);
}
.orbit li:nth-child(8) {
  --bg-color-1: var(--orange-light);
  --bg-color-2: var(--orange-dark);
}

@keyframes orbit {
  100% {
    rotate: 1turn;
  }
}
@keyframes throb {
  100% {
    scale: 1.05;
  }
}
